<body>
    <%- include('../header') %>
    <%- include('../main/folders') %>
    <%- include('../footer') %>
    <%- include('../modals/newFolder') %>
    <%- include('../modals/editFolder') %>
</body>