<body>
    <%- include('../header') %>
    <%- include('../main/home') %>
    <%- include('../modals/newFolder') %>
    <%- include('../modals/editFolder') %>
    <%- include('../footer') %>
    <script>
        function openModal() {
            document.getElementById('folderModal').style.display = 'flex';
        }
    
        function closeModal() {
            document.getElementById('folderModal').style.display = 'none';
        }
    
        document.getElementById('createFolderForm').addEventListener('submit', async (e) => {
            e.preventDefault();
    
            const folderName = document.getElementById('folderName').value;
    
            try {
                const response = await fetch('/folders', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ name: folderName })
                });
    
                if (response.ok) {
                    closeModal();
                    document.getElementById('folderName').value = '';
                    alert("Folder created successfully!");
                    location.reload();
                } else {
                    const errorData = await response.json();
                    alert("Error creating folder: " + errorData.error);
                }
            } catch (error) {
                alert("Error creating folder: " + error.message);
            }
        });
    </script>
    
</body>