<section>
    <h1><%= folder.name %></h1>
    
    <span class="breadcrumb">
        <a href="/" class="breadcrumb-item">Home</a>
        
        <% breadcrumbTrail.forEach((folder, index) => { %>
            <span> &gt; </span>
            
            <% if (index !== breadcrumbTrail.length - 1) { %>
                <a href="/folders/<%= folder.id %>" class="breadcrumb-item"><%= folder.name %></a>
            <% } else { %>
                <span class="breadcrumb-item active"><%= folder.name %></span>
            <% } %>
        <% }) %>
    </span>

    <table class="file-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Date</th>
                <th>Type</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <!-- Loop for Folders -->
            <% subfolders.sort((a, b) => a.name.localeCompare(b.name)).forEach(subfolder => { %>
                <tr>
                    <td>
                        <a href="/folders/<%= subfolder.id %>" class="folder-link" data-id="<%= subfolder.id %>">
                            <%= subfolder.name %>
                        </a>
                    </td>
                    <td><%= new Date(subfolder.createdAt).toLocaleString() %></td>
                    <td>Folder</td>
                    <td class="manage-buttons">
                        <button onclick="editFolder('<%= subfolder.id %>', '<%= subfolder.name %>')"><i class="fa-regular fa-pen-to-square"></i></button>
                        <button onclick="deleteFolder('<%= subfolder.id %>')"><i class="fa-solid fa-trash"></i></button>
                    </td>
                </tr>
            <% }) %>

            <!-- Loop for Files -->
            <% files.sort((a, b) => a.fileName.localeCompare(b.fileName)).forEach(file => { %>
                <tr>
                    <td>
                        <% if (file.cloudinaryUrl) { %>
                            <a href="<%= file.cloudinaryUrl %>" target="_blank"><%= file.fileName %></a>
                        <% } else { %>
                            <%= file.fileName %>
                        <% } %>
                    </td>
                    <td><%= new Date(file.createdAt).toLocaleString() %></td>
                    <td>File</td>
                    <td class="manage-buttons">
                        <button onclick="downloadFile('<%= file.id %>', '<%= file.fileName %>')"><i class="fa-solid fa-download"></i></button>
                        <button onclick="deleteFile('<%= file.id %>')"><i class="fa-solid fa-trash"></i></button>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</section>
