<section>
    <h2>Your Storage</h2>
    <table class="file-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Date</th>
                <th>Type</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <% folders.sort((a, b) => a.name.localeCompare(b.name)).forEach(folder => { %>
                <tr>
                    <td>
                        <a href="/folders/<%= folder.id %>" class="folder-link" data-id="<%= folder.id %>"><%= folder.name %></a>
                    </td>
                    <td><%= folder.createdAt.toLocaleString() %></td>
                    <td>Folder</td>
                    <td>
                        <button onclick="editFolder('<%= folder.id %>', '<%= folder.name %>')">Edit</button>
                        <button onclick="deleteFolder('<%= folder.id %>')">Delete</button>
                    </td>
                </tr>
            <% }) %>
            <% files.sort((a, b) => a.fileName.localeCompare(b.fileName)).forEach(file => { %>
                <tr>
                    <td>
                        <% if (file.cloudinaryUrl) { %>
                            <a href="<%= file.cloudinaryUrl %>" target="_blank"><%= file.fileName %></a>
                        <% } else { %>
                            <%= file.fileName %>
                        <% } %>
                    </td>
                    <td><%= file.createdAt.toLocaleString() %></td>
                    <td>File</td>
                    <td>
                        <button onclick="editFile('<%= file.id %>', '<%= file.fileName %>')">Edit</button>
                        <button onclick="deleteFile('<%= file.id %>')">Delete</button>
                    </td>
                </tr>
            <% }) %>
        </tbody>
        
    </table>
</section>
